# Ignore everything by default
/*

# Whitelist root meta files
!/.gitignore
!/README.md
!/LICENSE
!/index.html

# Whitelist 15-DOF WebGL Kinematics Prototype & Reference Images
!/04_Procedural_Engine_PoC/
/04_Procedural_Engine_PoC/*
!/04_Procedural_Engine_PoC/anatomical_finger.html
!/04_Procedural_Engine_PoC/anatomical_hand.html
!/04_Procedural_Engine_PoC/ref_images/
/04_Procedural_Engine_PoC/ref_images/*
!/04_Procedural_Engine_PoC/ref_images/*.png

# Whitelist publication PDFs
!/Bidirectional_PhD_Proposal_Aalto_ELLIS.pdf
!/Motivation_Letter.pdf
!/CV_Iniyan-Joseph_Aalto.pdf

